@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap');

.messageOwner {
    border: 2px solid white;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: rgb(0, 67, 211);
    border-radius: 15px 15px 0px 15px;
    width: fit-content;
    align-self: flex-end;
}

#delete {
    margin-left: 10px;
    color: white;
    font-size: larger;
}

.messageGot {
    border: 2px solid white;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: rgb(165, 0, 97);
    border-radius: 0px 15px 15px 15px;
    width: fit-content;

}

.nametime {
    display: flex;
    font-size: 13px;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;

}

.name {
    color: antiquewhite;
}

.time {
    color: rgb(189, 189, 189);
}

.date {
    align-self: flex-end;
}

.msgcontent {
    font-size: larger;
}

.showing-posts {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding-bottom: 5px;

}

@media screen and (max-width:500px) {

    .showing-posts {
        display: flex;
        flex-direction: column-reverse;
        overflow-y: scroll;
        height: 100%;
        width: 100%;
        padding-bottom: 70px;
    }

}

.Messageparent {
    width: 100vw;
    margin: auto;
    border-top: 3px solid rgb(113, 113, 113);
    height: 90vh;
    position: relative;
}

.empty {
    flex-direction: row;
}

.heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    gap: 15px;
    background-color: rgb(71, 3, 130);

}

.pic {
    position: relative;
}

#dp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.active {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: lawngreen;
    position: absolute;
    bottom: 0;
    right: 0;
}

.unactive {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: red;
    position: absolute;
    bottom: 0;
    right: 0;
}

.headingDiv {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.UserName {
    font-size: x-large;
}

.logout {
    font-size: x-large;
    cursor: pointer;
    color: rgb(255, 0, 0);
}

.logout:active {
    opacity: 0.5;
}

input {
    width: 85%;
    background-color: rgb(71, 3, 130);
    padding: 15px;
    outline: none;
    outline-style: none;
    color: white;
    font-size: large;

}

input:focus {
    outline: none;
    outline-style: none;
}

.inputdiv {
    width: 100%;
    margin: auto;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(71, 3, 130);
    z-index: 1000;

}

.send {
    font-size: xx-large;
    color: rgb(225, 68, 0);
    cursor: pointer;
}

.send:active {
    color: rgba(255, 0, 255, 0.564);
}

::-webkit-scrollbar {
    width: 5px;

}

::-webkit-scrollbar-thumb {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background-color: transparent
}

.topLayer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.801);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    text-align: center;

}

.text {
    color: white;
    margin: 10px;
    font-size: large;
    user-select: none;

}

.btnnn {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-top: 30px;

}

.offline {
    position: absolute;
    top: 120%;
    z-index: 9999;
    width: 100vw;
    left: 0;
    text-align: center;
    font-size: xx-large;
    color: lightgrey;
    user-select: none;
    opacity: 0.7;
}

.yesBtn {
    color: white;
    font-size: larger;
    background-color: red;
    border-radius: 7px;
    cursor: pointer;
    width: 90px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.noBtn {
    color: white;
    font-size: larger;
    background-color: rgb(110, 15, 199);
    border-radius: 7px;
    cursor: pointer;
    width: 95px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

}

.yesBtn:active {
    background-color: rgb(163, 0, 0)
}

.noBtn:active {
    background-color: rgb(67, 5, 125);


}
.nopost{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.lodingText{
    color: rgb(184, 184, 184);
}